/* All colors */
/* 
потрійні назви класів прибрати 
додати hover і focus 
класи секцій і заголовків однаковий зробити
перепідписати класи з дотримуванням наслідування 
*/

/*  */

/* другорядний колір фону #F5F4FA */


:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --accent-bg-color: #2F303A;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --secondary-bg-color: #F5F4FA;
}

/* Body */

.page {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}

/* Header */

/* Logo */ 

.logo {
    text-decoration: none;
    color: var(--accent-color);
}

/* Logo studio element header */

.logo .studio-el.header {
    --primary-black-color: #000000;
    color: var(--primary-black-color);
}

/* Site nav */

.site-nav .link {
    text-decoration: none;
    color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contact-nav */

.contact-nav .link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

/* Styles for index.html */

/* Main contant */

/* Secttions */

.section-title {
    color: var(--secondary-text-color);
}

/* Hero Section */

.hero {
    background-color: var(--accent-bg-color);
}

.hero-title {
    color: var(--primary-white-color);
}

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Features Section */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features .title {
    color: var(--secondary-text-color);
}

/* Work Section */



/* Team Section */

.team {
    background-color: var(--secondary-bg-color);
}

.team-members .title {
    color: var(--secondary-text-color);
}

/* Footer */

.page-footer {
    background-color: var(--accent-bg-color);
}

/* Logo studio element footer */

.logo .studio-el.footer {
    color: var(--primary-white-color);
}

.address {
    font-style: normal;
}

.address-footer .map {
    text-decoration: none;
    color: var(--primary-white-color);
}

.address-footer .map:hover,
.address-footer .map:focus {
    color: var(--accent-color);
}

.address-footer .contact {
    text-decoration: none;
    color: var(--footer-text-color);
}

.address-footer .contact:hover,
.address-footer .contact:focus {
    color: var(--accent-color);
}


/* Styles for portfolio.html */


